.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img {
  width: 350px;
  height: 350px;
  position: relative;
}

.timerBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer {
  font-size: 100px;
  position: absolute;
}

.areaBtn {
  display: flex;
  margin-top: 50px;
  text-transform: uppercase;
}
